<footer class="footer-wrapper" th:fragment="footerFragment">
    <div class="footer-wrapper__inside">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <p><span>© 2023</span><a href="#">FCC</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-menu text-end">
                        <ul>
                            <li>
                                <a href="https://github.com/YJiHyeon" target="_blank">
                                    <i class="la la-github"></i>
                                    <span class="icon-text">윤지현</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/seongeon0620" target="_blank">
                                    <i class="la la-github"></i>
                                    <span class="icon-text">배성언</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/HSPU" target="_blank">
                                    <i class="la la-github"></i>
                                    <span class="icon-text">신우석</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/simhyunbo" target="_blank">
                                    <i class="la la-github"></i>
                                    <span class="icon-text">심현보</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/orisay" target="_blank">
                                    <i class="la la-github"></i>
                                    <span class="icon-text">유재건</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/ruhazle" target="_blank">
                                    <i class="la la-github"></i>
                                    <span class="icon-text">유하영</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- ends: .Footer Menu -->
                </div>
            </div>
        </div>
    </div>
</footer>