<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar-wrapper" th:fragment="sidebarFragment">
        <div class="sidebar sidebar-collapse" id="sidebar">
            <div class="sidebar__menu-group">
                <ul class="sidebar_nav">
                    <li>
                        <a href="/admin/member/list" class="">
                            <span class="nav-icon uil uil-users-alt"></span>
                            <span class="menu-text">회원 관리</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/admin/user/list/0">
                            <span class="nav-icon uil uil-clipboard-notes"></span>
                            <span class="menu-text">자유게시판 관리</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/admin/cmt/list/0">
                            <span class="nav-icon uil uil-clipboard-notes"></span>
                            <span class="menu-text">자유게시판 댓글 관리</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/admin/notice/list/0">
                            <span class="nav-icon uil uil-clipboard-notes"></span>
                            <span class="menu-text">공지게시판 관리</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/admin/qna/list/0">
                            <span class="nav-icon uil uil-question-circle"></span>
                            <span class="menu-text">문의 관리</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</html>