<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body th:fragment="styleFragment">
    <link th:href="@{https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/daterangepicker.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/fontawesome.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/footable.standalone.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/fullcalendar@5.2.0.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/jquery-jvectormap-2.0.5.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/leaflet.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/line-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/magnific-popup.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/MarkerCluster.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/MarkerCluster.Default.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/select2.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/slick.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/star-rating-svg.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/trumbowyg.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor_assets/css/wickedpicker.min.css}" rel="stylesheet" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link th:href="@{https://unicons.iconscout.com/release/v4.0.0/css/line.css}" rel="stylesheet" />
    <link th:href="@{/img/favicon.png}" rel="icon" type="image/png" sizes="16x16" />
</body>
</html>
