<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>PureSync Admin</title>
   <th:block th:include="~{/fragments/styles :: styleFragment}"></th:block>
</head>

<body class="layout-light side-menu">
<div class="mobile-author-actions"></div>
<div th:replace="~{/fragments/header :: headerFragment}"></div>
<main class="main-content">
   <div th:replace="~{/fragments/sidebar :: sidebarFragment}"></div>

   <div class="contents">

      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">

               <div class="breadcrumb-main">
                  <h4 class="text-capitalize breadcrumb-title">회원 관리</h4>
                  <div class="breadcrumb-action justify-content-center flex-wrap">
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>회원 목록</a></li>
                        </ol>
                     </nav>
                  </div>
               </div>

            </div>
         </div>
         <div class="row">
            <div class="col-12 mb-30">
               <div class="support-ticket-system support-ticket-system--search">

                  <div class="breadcrumb-main m-0 breadcrumb-main--table justify-content-sm-between ">
                     <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                     </div>
                  </div>
                  <div class="support-form datatable-support-form d-flex flex-column justify-content-xxl-between justify-content-start align-items-left flex-wrap mb-3">
                     <form method="get" id="filterForm">
                        <div class="support-form__input m-0">
                           <input type="hidden" name="status" id="statusHide" />
                           <input type="hidden" name="page" th:value="${page == null ? 0 : page}" />
                           <div class="d-flex flex-wrap">
                              <div class="support-form__input-id me-md-3">
                                 <div class="dm-select ">
                                    <select name="category" id="category" class="form-control ">
                                       <option value="">검색조건</option>
                                       <option value="id" th:selected="${category}=='id'">아이디</option>
                                       <option value="nick" th:selected="${category}=='nick'">닉네임</option>
                                       <option value="email" th:selected="${category}=='email'">이메일</option>
                                    </select>
                                 </div>

                              </div>
                              <div class="support-form__search m-0">
                                 <div class="support-order-search d-flex">
                                    <div class="support-order-search__form">
                                       <img src="/img/svg/search.svg" alt="search" class="svg">
                                       <input class="form-control border-0 box-shadow-none" type="search" th:value="${keyword}"
                                              placeholder="검색어를 입력하세요." aria-label="Search" name="keyword" onSearch="submitForm()"
                                       >
                                    </div>
                                 </div>
                              </div>
                              <button class="support-form__input-button" type="button" onClick="submitForm()">검색</button>
                           </div>
                        </div>
                     </form>
                     <div class="d-flex mt-2">
                        <div>
                           <div class="checkbox-theme-default custom-checkbox  check-all me-3">
                              <input class="checkbox" type="checkbox" id="check-all" name="statusChk" value="all" onChange="chkAll()"
                                     th:checked="${status == null ? 'all' : #strings.contains(status, 'all')}">
                              <label for="check-all">
                                 <span class="checkbox-text">전체</span>
                              </label>
                           </div>
                        </div>
                        <div class="checkbox-group-wrapper">
                           <div class="checkbox-group d-flex">
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                 <input class="checkbox" type="checkbox" id="check-grp-1" name="statusChk" value="disabled" onChange="chkClicked()"
                                        th:checked="${status != null ? #strings.contains(status, 'disabled') or #strings.contains(status, 'all') : true}"
                                 >
                                 <label for="check-grp-1">
                                    <span class="checkbox-text">비활성화</span>
                                 </label>
                              </div>
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                 <input class="checkbox" type="checkbox" id="check-grp-2" name="statusChk" value="rest" onChange="chkClicked()"
                                        th:checked="${status != null ? #strings.contains(status, 'rest') or #strings.contains(status, 'all') : true}"
                                 >
                                 <label for="check-grp-2">
                                    <span class="checkbox-text">휴면</span>
                                 </label>
                              </div>
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                 <input class="checkbox" type="checkbox" id="check-grp-3" name="statusChk" value="delete" onChange="chkClicked()"
                                        th:checked="${status != null ? #strings.contains(status, 'delete') or #strings.contains(status, 'all') : true}"
                                 >
                                 <label for="check-grp-3">
                                    <span class="checkbox-text">탈퇴</span>
                                 </label>
                              </div>
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                 <input class="checkbox" type="checkbox" id="check-grp-4" name="statusChk" value="block" onChange="chkClicked()"
                                        th:checked="${status != null ? #strings.contains(status, 'block') or #strings.contains(status, 'all') : true}"
                                 >
                                 <label for="check-grp-4">
                                    <span class="checkbox-text">정지</span>
                                 </label>
                              </div>
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                 <input class="checkbox" type="checkbox" id="check-grp-5" name="statusChk" value="user" onChange="chkClicked()"
                                        th:checked="${status != null ? #strings.contains(status, 'user') or #strings.contains(status, 'all') : true}"
                                 >
                                 <label for="check-grp-5">
                                    <span class="checkbox-text">정상</span>
                                 </label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1">
                     <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                           <thead>
                           <tr class="userDatatable-header">
                              <th>
                                 <span class="userDatatable-title">No</span>
                              </th>
                              <th>
                                 <span class="userDatatable-title">아이디</span>
                              </th>
                              <th>
                                 <span class="userDatatable-title">닉네임</span>
                              </th>
                              <th>
                                 <span class="userDatatable-title">이메일</span>
                              </th>
                              <th>
                                 <span class="userDatatable-title">가입일시</span>
                              </th>
                              <th>
                                 <span class="userDatatable-title">상태</span>
                              </th>
                           </tr>
                           </thead>
                           <tbody>
                           <!-- 검색 결과가 있을 경우 -->
                           <th:block th:if="${#lists.size(memberList) > 0}">
                              <tr th:each="memberList, index : ${memberList}">
                                 <td th:text="${totalCount - (size * number) - index.index}"></td>
                                 <td>
                                    <div class="d-flex">
                                       <div class="userDatatable-inline-title">
                                          <a th:href="@{/admin/member/{memSeq}(memSeq=${memberList.memSeq})}" class="text-dark">
                                             <h6 th:text="${memberList.memId}"></h6>
                                          </a>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="userDatatable-content--subject" th:text="${memberList.memNick}">
                                    </div>
                                 </td>
                                 <td>
                                    <div class="userDatatable-content--subject" th:text="${memberList.memEmail}">
                                    </div>
                                 </td>
                                 <td>
                                    <div class="userDatatable-content--priority" th:text="${#temporals.format(memberList.memCreateAt, 'yyyy-MM-dd HH:mm:ss')}">
                                    </div>
                                 </td>
                                 <td th:switch="${memberList.status}">
                                    <th:block th:case="비활성화">
                                       <div class="userDatatable-content d-inline-block">
                                          <span class="bg-opacity-gray color-gray userDatatable-content-status active" th:text="${memberList.status}"></span>
                                       </div>
                                    </th:block>

                                    <th:block th:case="휴면">
                                       <div class="userDatatable-content d-inline-block">
                                          <span class="bg-opacity-info color-info userDatatable-content-status active" th:text="${memberList.status}"></span>
                                       </div>
                                    </th:block>

                                    <th:block th:case="탈퇴">
                                       <div class="userDatatable-content d-inline-block">
                                          <span class="bg-opacity-danger  color-danger userDatatable-content-status active" th:text="${memberList.status}"></span>
                                       </div>
                                    </th:block>

                                    <th:block th:case="정지">
                                       <div class="userDatatable-content d-inline-block">
                                          <span class="bg-opacity-warning  color-warning userDatatable-content-status active" th:text="${memberList.status}"></span>
                                       </div>
                                    </th:block>

                                    <th:block th:case="정상">
                                       <div class="userDatatable-content d-inline-block">
                                          <span class="bg-opacity-success color-success userDatatable-content-status active" th:text="${memberList.status}"></span>
                                       </div>
                                    </th:block>

                                    <!--알 수 없음의 경우 -->
                                    <th:block th:case="*">
                                       <div class="userDatatable-content d-inline-block">
                                          <span class="bg-opacity-gray  color-gray userDatatable-content-status active" th:text="${memberList.status}"></span>
                                       </div>
                                    </th:block>
                                 </td>
                              </tr>
                           </th:block>
                           <!-- 검색 결과가 없는 경우 -->
                           <th:block th:if="${#lists.isEmpty(memberList) or memberList.totalElements == 0}">
                              <tr>
                                 <td class="text-center color-gray" colspan="6">검색 결과가 없습니다.</td>
                              </tr>
                           </th:block>

                           </tbody>
                        </table>
                     </div>
                     <div class="d-flex justify-content-center pt-30">
                        <nav class="dm-page"
                             th:with="start=${(memberList.number / maxPage) * maxPage + 1},
                                end=(${(memberList.totalPages == 0) ? 1 : (start + (maxPage - 1) < memberList.totalPages ? start + (maxPage - 1) : memberList.totalPages)})">
                           <ul class="dm-pagination d-flex">
                              <li class="dm-pagination__item">
                                 <!-- 첫번째 페이지로 이동 -->
                                 <a th:if="${start > 1}" th:href="@{/admin/member/list?(page=0, keyword=${keyword}, status=${status == null ? 'all' : status}, category=${category})}"
                                    class="dm-pagination__link pagination-control" href="#" aria-label="Previous"
                                 >
                                    <span class="la la-angle-double-left"></span>
                                 </a>

                                 <!-- 이전 페이지로 이동 -->
                                 <a th:if="${start > 1}"
                                    th:href="@{/admin/member/list?(page=${start - maxPage - 1}, keyword=${keyword}, status=${status == null ? 'all' : status}, category=${category})}"
                                    class="dm-pagination__link pagination-control" href="#" aria-label="Previous"
                                 >
                                    <span class="la la-angle-left"></span>
                                 </a>

                                 <a th:each="page: ${#numbers.sequence(start, end)}"
                                    th:href="@{/admin/member/list?(page=${page-1}, keyword=${keyword}, status=${status == null ? 'all' : status}, category=${category})}"
                                    href="#" class="dm-pagination__link" th:classappend="${memberList.number + 1 == page} ? active"
                                 >
                                    <span class="page-number" th:text="${page}">1</span>
                                 </a>


                                 <!-- 다음 페이지로 이동 -->
                                 <a th:if="${end < memberList.totalPages}"
                                    th:href="@{/admin/member/list?(page=${start + maxPage -1}, keyword=${keyword}, status=${status == null ? 'all' : status}, category=${category})}"
                                    href="#" class="dm-pagination__link pagination-control"
                                 >
                                    <span class="la la-angle-right"></span>
                                 </a>

                                 <!-- 마지막 페이지 이동 -->
                                 <a th:if="${end < memberList.totalPages}"
                                    th:href="@{/admin/member/list?(page=${memberList.totalPages-1}, keyword=${keyword}, status=${status == '' ? 'all' : status}, category=${category})}"
                                    href="#" class="dm-pagination__link"
                                 >
                                    <span class="la la-angle-double-right"></span>
                                 </a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
   <div th:replace="~{/fragments/footer :: footerFragment}"></div>
</main>
<div id="overlayer">
   <div class="loader-overlay">
      <div class="dm-spin-dots spin-lg">
         <span class="spin-dot badge-dot dot-primary"></span>
         <span class="spin-dot badge-dot dot-primary"></span>
         <span class="spin-dot badge-dot dot-primary"></span>
         <span class="spin-dot badge-dot dot-primary"></span>
      </div>
   </div>
</div>
<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>
<th:block th:include="~{/fragments/scripts :: scriptFragment}"></th:block>
</body>
</html>
<script>

   function submitForm() {
      const checkboxes = document.querySelectorAll('input[name="statusChk"]:checked');
      let statusHide;

      // 미선택이거나 첫번째 체크박스의 value가 전체선택인 경우
      if (checkboxes.length == 0 || checkboxes[0].value == 'all') {
         statusHide = "all";
      } else {
         statusHide = Array.from(checkboxes).map(checkbox => checkbox.value).join('+');
      }
      document.querySelector('#statusHide').value = statusHide;
      document.querySelector('#filterForm').submit();
   }

   //자식 체크박스 클릭 이벤트
   function chkClicked() {

      const allCount = document.querySelectorAll('input[name="statusChk"]').length - 1;
      const checkboxs = document.querySelectorAll('input[name="statusChk"]:checked');
      const allCheckbox = document.getElementById('check-all');

      if (!allCheckbox.checked && checkboxs.length == 5) {
         allCheckbox.checked = true;
         return;
      } else {
         allCheckbox.checked = false;
         return;
      }
   }

   function chkAll() {
      const allCheckbox = document.getElementById('check-all');
      const checkboxs = document.querySelectorAll('input[name="statusChk"]');

      if (allCheckbox.checked) {
         checkboxs.forEach(function(v, i) {
            v.checked = true;
         });
      } else {
         checkboxs.forEach(function(v, i) {
            v.checked = false;
         });
      }
   }
</script>