<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>PureSync Admin</title>
   <th:block th:include="~{/fragments/styles :: styleFragment}"></th:block>
</head>

<body class="layout-light side-menu">
   <div class="mobile-author-actions"></div>
   <div th:replace="~{/fragments/header :: headerFragment}"></div>
   <main class="main-content">
      <div th:replace="~{/fragments/sidebar :: sidebarFragment}"></div>

      <div class="contents">


         <div class="blog-page2">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">

                     <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">유저 게시판 상세 보기</h4>
                        <div class="breadcrumb-action justify-content-center flex-wrap">
                           <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                 <li class="breadcrumb-item"><a href="/index"><i class="uil uil-estate"></i>main</a></li>
                                 <li class="breadcrumb-item"><a href="/admin/userBoard/userList/0">userBoardList</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">userBoardView</li>
                              </ol>
                           </nav>
                        </div>
                     </div>

                  </div>
               </div>
               <div class="row justify-content-center">
                  <div class="col-lg-8 col-12">
                     <article class="blog-details">
                        <div class="blog-details-content">
                           <h1 class="main-title mb-30" th:text="${userBoardView.board_name}" >제목</h1>
                           <ul class="blog-details-meta">
                              <li class="blog-author">
                                   <!-- <img th:src="'https://fccbucket123.s3.ap-northeast-2.amazonaws.com/fileUpload/' + ${userBoardView.mem_img}">  --> <!-- 프사 -->
                                 </a>
                                    <span th:text="${userBoardView.mem_id}" >작성자</span>
                                 </a>
                              </li>
                              <li class="author-name">
                                 <time class="entry-date published updated" th:text="${userBoardView.board_wdate}"></time><!-- 작성일 -->
                                 </a>
                              </li>
                              <li class="blog-read-time">좋아요 <span th:text="${userBoardView.board_likescount}"></span></li>
                           </ul>
                           <div class="blog-body">
                              <p class="mb-20" th:text="${userBoardView.board_contents}">
                              </p>

                              <div class="blog-block-image mb-30 pb-10">
                                 <figure th:each="file : ${fileList}">
                                    <img class="img-fluid" th:src="'https://fccbucket123.s3.ap-northeast-2.amazonaws.com/fileUpload/' + ${file.boardfile_name}">
                                 </figure>
                              </div>
                              
                     </article>
                  </div>
               </div>
               <!-- ends: .row -->
            </div>
         </div>

      </div>
      <div th:replace="~{/fragments/footer :: footerFragment}"></div>
   </main>
   <div id="overlayer">
      <div class="loader-overlay">
         <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
         </div>
      </div>
   </div>
   <div class="overlay-dark-sidebar"></div>
   <div class="customizer-overlay"></div>
   <th:block th:include="~{/fragments/scripts :: scriptFragment}"></th:block>
</body>

</html>